<a href="https://colab.research.google.com/github/Darshinirn/INTERNID-CC24745/blob/main/twitter_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TWITTER SENTIMENT ANALYSIS

In [ ]:
#importing libraries for data manipulation
import pandas as pd
import numpy as np
import re
import string

#importing libraries and methos for text preprocessing
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

#importing machine learning libraries
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# English stopwords

In [ ]:
import nltk
nltk.download('stopwords')
stop_words= set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
list(stop_words)

['the',
 "hadn't",
 'she',
 "wouldn't",
 'off',
 'don',
 'if',
 'who',
 "doesn't",
 'it',
 'isn',
 't',
 'few',
 're',
 'we',
 'why',
 'not',
 "don't",
 'mustn',
 'itself',
 'where',
 'than',
 'does',
 "haven't",
 'each',
 'up',
 'and',
 'will',
 'should',
 'doing',
 'its',
 'through',
 'any',
 'when',
 'which',
 "couldn't",
 'you',
 'him',
 'further',
 'hasn',
 'haven',
 'yourselves',
 'our',
 'having',
 'just',
 'being',
 'needn',
 'of',
 'against',
 'won',
 'down',
 'until',
 'only',
 'under',
 'to',
 "aren't",
 'all',
 'herself',
 'into',
 'me',
 'didn',
 'because',
 "mustn't",
 'shouldn',
 'before',
 'for',
 'ain',
 'other',
 'weren',
 "that'll",
 'are',
 'over',
 'after',
 'below',
 'wouldn',
 'during',
 'in',
 'them',
 'o',
 "needn't",
 "weren't",
 'those',
 'most',
 'll',
 'out',
 'their',
 'his',
 "you're",
 'from',
 'while',
 'be',
 'own',
 'her',
 'ours',
 'no',
 "shan't",
 "hasn't",
 'have',
 'at',
 'themselves',
 'on',
 'were',
 "it's",
 'as',
 'do',
 'by',
 'himself',
 "you'll",
 'about',
 'shan',
 'such',
 "you'd",
 'my',
 'can',
 'whom',
 'd',
 'hadn',
 'yours',
 'then',
 'an',
 'they',
 'aren',
 'more',
 'has',
 'this',
 'i',
 'y',
 'he',
 'above',
 'is',
 'been',
 'between',
 'mightn',
 'both',
 'myself',
 'a',
 'how',
 'ourselves',
 'too',
 'very',
 'yourself',
 'theirs',
 'or',
 'm',
 "shouldn't",
 've',
 'but',
 'doesn',
 "wasn't",
 "isn't",
 'that',
 'here',
 'your',
 "mightn't",
 'so',
 'couldn',
 'these',
 "won't",
 's',
 'now',
 'nor',
 'ma',
 "she's",
 'with',
 'am',
 'had',
 'same',
 'once',
 "should've",
 'what',
 'wasn',
 "you've",
 'there',
 'hers',
 "didn't",
 'did',
 'again',
 'some',
 'was']

In [ ]:
df=pd.read_csv('/content/train.csv')

In [ ]:
test_df=pd.read_csv('/content/test.csv')

In [ ]:
test_df

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [ ]:
df

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

# preprocessing the tweets

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
def preprocess_tweet_text(tweet):
  # remove lowercase
    tweet=tweet.lower()
  # remove url
    tweet=re.sub('https?://\S+|www\.\S+','',tweet)
  #remove punctuations
    tweet=tweet.translate(str.maketrans(" "," ",string.punctuation))
  # remove @ and # from tweet    
    tweet=re.sub(r'\@w+|\#',' ',tweet)
    tweet_tokens=word_tokenize(tweet)
    filtered_words=[word for word in tweet_tokens if word not in stop_words ]
  #stemming and lemmatization
    ps=PorterStemmer()
    stemmed_words=[ps.stem(w) for w in filtered_words]
    return " ".join(stemmed_words)

for i,tweet in enumerate(df.tweet):
    df.tweet[i] = preprocess_tweet_text(tweet)

<ipython-input-64-a581bfab9cbb>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.tweet[i] = preprocess_tweet_text(tweet)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df['tweet'], df['label'], test_size=0.5, stratify=df['label'])

trainp=df[df.label==1]
trainn=df[df.label==0]
print(trainp.info())
trainn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2242 entries, 13 to 31960
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2242 non-null   int64
 1   label   2242 non-null   int64
 2   tweet   2242 non-null   object
dtypes: int64(2), object(1)
memory usage: 70.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29720 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      29720 non-null  int64
 1   label   29720 non-null  int64
 2   tweet   29720 non-null  object
dtypes: int64(2), object(1)
memory usage: 928.8+ KB

In [ ]:
# Let us balance the dataset
train_imbalanced = df
from sklearn.utils import resample
df_majority = df[df.label==0]
df_minority = df[df.label==1]
 
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=len(df_majority),    # to match majority class
                                 random_state=123) # reproducible results

In [ ]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
print("Before")
print(df.label.value_counts())
print("After")
print(df_upsampled.label.value_counts())

X_train, X_test, y_train, y_test = train_test_split(df_upsampled['tweet'], df_upsampled['label'], test_size=0.5, stratify=df_upsampled['label'])

Before
0    29720
1     2242
Name: label, dtype: int64
After
0    29720
1    29720
Name: label, dtype: int64

# Convert text into numerical data

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vect = CountVectorizer()
tf_train=vect.fit_transform(X_train)  #train the vectorizer, build the vocablury
tf_test=vect.transform(X_test)

In [ ]:
tf_test_nolabel=vect.transform(test_df.tweet)

# fiting the model

In [ ]:
model.fit(X=tf_train,y=y_train)

MultinomialNB()

In [ ]:
from sklearn import metrics

In [ ]:
expected = y_test
predicted=model.predict(tf_test)

In [ ]:
print(trainp.iloc[:10])
trainn.iloc[:10]

      id  label                                              tweet
13    14      1  @user #cnn calls #michigan middle school 'buil...
14    15      1  no comment!  in #australia   #opkillingbay #se...
17    18      1                             retweet if you agree!
23    24      1    @user @user lumpy says i am a . prove it lumpy.
34    35      1  it's unbelievable that in the 21st century we'...
56    57      1            @user lets fight against  #love #peace
68    69      1  ð©the white establishment can't have blk fol...
77    78      1  @user hey, white people: you can call people '...
82    83      1  how the #altright uses  &amp; insecurity to lu...
111  112      1  @user i'm not interested in a #linguistics tha...

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [ ]:
gg=X_test.reset_index(drop=True)
# print(gg)
for i, p in enumerate(predicted):
#     print(i)
    print (gg[i] + " - " + str(p))
    if i>5:
        break

#studiolife #aislife #requires #passion #dedication #willpower   to find #newmaterialsâ¦  - 0
 @user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why   - 1
safe ways to heal your #acne!!    #altwaystoheal #healthy   #healing!!  - 0
is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð   #harrypotter #pottermore #favorite - 0
  3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦  - 0
choose to be   :) #momtips  - 0
something inside me dies ð¦ð¿â¨  eyes ness #smokeyeyes #tired  #lonely #sof #grungeâ¦  - 0

In [ ]:

predicted_nolabel=model.predict(tf_test_nolabel)
for i, p in enumerate(tf_test_nolabel):
#     print(i)
    print (test_df.tweet[i] + " - " + str(predicted_nolabel[i]))
    if i>5:
        break

#studiolife #aislife #requires #passion #dedication #willpower   to find #newmaterialsâ¦  - 0
 @user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why   - 1
safe ways to heal your #acne!!    #altwaystoheal #healthy   #healing!!  - 0
is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð   #harrypotter #pottermore #favorite - 0
  3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦  - 0
choose to be   :) #momtips  - 0
something inside me dies ð¦ð¿â¨  eyes ness #smokeyeyes #tired  #lonely #sof #grungeâ¦  - 0

In [ ]:
test_custom=pd.DataFrame(["racist", "white judge trial", "it is a horrible incident", "@user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why", " @user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why", "@user  at work: attorneys for white officer who shot #philandocastile remove black judge from presiding over trial. htâ¦"])
tf_custom = vect.transform(test_custom[0])
model.predict(tf_custom)

array([1, 1, 1, 1, 1, 1])